body {
    --border-medium: 1px solid var(--ion-color-medium);
  }
  
  .overline {
    font-weight: 500 !important;
    font-size: 10px !important;
    line-height: 16px !important;
    letter-spacing: 1.5px;
    color: #666;
    text-transform: uppercase !important;
  }
  
  ion-thumbnail > img {
    object-fit: contain;
  }
  
  .filters {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  
  .filters > ion-item {
    flex: 1 0 100%;
    max-width: 200px;
    border: var(--border-medium);
    border-radius: 10px;
  }
  
  img {
    object-fit: contain;
  }
  
  .card-header {
    display: grid;
    grid: "tags"
          "info"
          "metadata"/ 1fr;
    justify-content: start;
  }
  
  .order-primary-info {
    grid-area: info;
  }
  
  .order-tags {
    grid-area: tags;
    border-bottom: var(--border-medium);
  }
  
  .order-metadata {
    grid-area: metadata;
    border-bottom: var(--border-medium);
  }
  
  .order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border-medium);
  }   
  
  .actions {
    display: none;
  }
  
  .desktop-only {
    display: none;
  }
  
  .mobile-only {
    display: unset;
  }
  
  @media (min-width: 991px) {
    .card-header {
      grid: "info tags metadata" / max-content 1fr max-content;
      justify-items: center;
      align-items: center;
      border-bottom: var(--border-medium);
    }
  
    .order-tags {
      justify-self: center;
      border-bottom: none;
    }
  
    .order-metadata {
      text-align: end;
      border-bottom: none
    }
  
    .actions {
      display: flex;
      justify-content: space-between;
    }
  
    .desktop-only {
      display: block;
    }
  
    .mobile-only {
      display: none;
    }  
  } 
  
  @media (prefers-color-scheme: dark) {
    ion-chip > ion-icon {
      color: var(--ion-color-dark);
    }
  
    .chip-outline {
      border-color: var(--ion-color-dark);
    }
  
    ion-item {
      --border-color: var(--ion-color-medium)
    }
  }